@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
.App {
  display: flex;
  flex-flow: column;
  border: 1px solid rgba(102, 100, 100, 0.418);
}
.item {
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 0 0 0 20px;
  border: 1px solid rgba(146, 139, 139, 0.336);
  margin: 20px;
}
